<footer>
    <div class="cnt _bg _radius _aos _py-1">
        <div class="grid">
            <div> Made with love by <b><a href="https://turtlecute.org">Turtlecute</a></b> <span aria-hidden="true">🐢</span> with the help of <b><a href="https://github.com/danielabrozzoni">Daniela Brozzoni</a></b><br><br>
                <div>
                    Licensed under <b><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">[NC-SA-4.0]</a></b>
                </div>
            </div>
        </div>
    </div>
</footer>
